@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@layer utilities {
    .font-lobster {
        font-family: "Lobster", sans-serif;
    }

    .font-poppins {
        font-family: "Poppins", sans-serif;
    }

    .section-margin {
        max-width: 90vw;
        margin: 50px auto;
        background: #fff;
        border-radius: 16px;
    }

    .nav-bar {
        max-width: 90vw;
        margin: 20px auto;
        background: #fff;
        border-radius: 16px;
    }

    .section-title {
        font-family: "Poppins", sans-serif;
        font-size: 4rem;
        color: #ec6767;
        font-weight: 800;
        text-align: center;
        margin-bottom: 50px auto;
    }

    .section-description {
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-size: 1.2rem;
        text-align: center;
        max-width: 60vw;
        margin: 50px auto;

    }

    .btn {
        align-items: center;
        background-color: #ec6767;
        border-radius: 12px;
        box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px, rgba(0, 0, 0, .14) 0 6px 10px 0, rgba(0, 0, 0, .12) 0 1px 18px 0;
        color: #fff;
        cursor: pointer;
        display: inline-flex;
        font-family: "Poppins", sans-serif;
        font-size: 2rem;
        font-weight: 600;
        justify-content: center;
        letter-spacing: .25rem;
        max-width: 100%;
        padding: 12px 24px;
        text-align: center;
        transition: all .4s;
    }

    .btn:hover {
        background: transparent;
        color: #ec6767;
    }

    .main-color {
        color: #ec6767;
    }
}

* {
    scroll-behavior: smooth;
}

body {
    max-width: 90vw;
    margin: 0 auto;
}

.bar-icon {
    font-size: 2.5rem;
    color: #504d4d;
    cursor: pointer;
}

.x-icon {
    font-size: 2rem;
    color: #504d4d;
    cursor: pointer;
}

.hero-image {
    max-width: 500px;
    margin: 0 0 0 auto;

}

.hero-image img {
    max-width: 100%;
    height: auto;
    right: 0;
}

.skills-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 20px;
}

.skill-item {
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, .15);
    padding: 16px;
    border-radius: 16px;
}

.skill-item img {
    width: 225px;
    height: 225px;
}

.project-container .project-item {
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.7);
}

.project-container img {
    width: 528px;
    height: 316px;
}

@media screen and (max-width: 576px) {
    body {
        max-width: 95%;
        margin: 0 auto;
    }

    .section-margin {
        border-radius: 8px;
        margin-top: 5px;
        padding-top: 10px;
    }

    .btn {
        width: 200px;
        font-size: 1rem;
    }

    .nav-bar {
        max-width: 90vw;
        margin: 20px auto;
    }

    .logo p {
        font-size: 2.5rem;
    }

    .bar-icon {
        display: block;
    }
    .responsive-ul {
        display: none;
        position: absolute;
        top: 100px;
        right: 50px;
        text-align: center;
        flex-direction: column;
        font-size: 1rem;
        background: #979595a4;
        gap: 0;
        border-radius: 5px;
        z-index: 1;
    }

    .responsive-ul li {
        width: 100%;
        margin: 2px 10px;
        background: #fff;
        padding: 5px;
        border-radius: 5px;
        text-align: center;

    }

    .hero-area {
        flex-direction: column-reverse;
        text-align: center;
        justify-content: center;
        align-items: center;
        justify-items: center;
        max-width: 90vw;
        padding-bottom: 30px;
    }

    .hero-title {
        font-size: 2rem;
        text-align: center;
        margin: 10px 0;

    }

    .greetings {
        font-size: 1.4rem;
    }

    .intro {
        font-size: 1.4rem;
    }

    .hero-desc,
    .section-description {
        font-size: 1rem;
        max-width: 90%;
        margin: 0 auto;
    }

    .skill-desc,
    .project-desc {
        font-size: 1rem;
    }

    .hero-image {
        max-width: 100%;
        margin: 0 auto;
        padding-bottom: 50px;
    }

    .about {
        margin-bottom: 30px;
    }

    .about-items {
        flex-direction: column;
    }

    .section-description {
        margin-bottom: 20px;
    }

    .skills-container {
        max-width: 90vw;
        margin: 0 auto;
        grid-template-columns: repeat(1, 1fr);
    }

    .skill-item {

        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.12);
    }

    .skill-item img {
        max-width: 100%;
        max-height: 150px;
        margin: 0 auto;
    }

    .project {
        margin: 0 auto;
    }

    .section-title {
        font-size: 2rem;
    }

    .project-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .project-container .project-item {
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.12);
    }
    .fdiv {
        flex-direction: column;
        gap: 0;
        margin: 0;
        padding: 0;
    }

    .fdiv .logo {
        font-size: 5rem;
        text-align: center;
        padding: 20px;
    }
.fdiv .footer-links{
    padding: 10px 30px;
}
    .fdiv .footer-links ul {
        margin: 0;
        padding: 0;
        font-size: 20px;
    }
    footer p{
        font-size: 1rem;
        padding-bottom: 10px;
    }
    footer{
        margin-top: 30px;
        margin-bottom: 5px;
    }
}